
.container{
      /* margin-top: 780px; */
      margin-left: 600px;
      float: right;
}
/* .gmail-detail{
      width: 25px;
      height: 70px;
      display: flex;
      flex-direction: row;
      margin-right: 8px;
} */
